table 
{
    width: 40%;
    border: 3px solid #000000;
	border-collapse: collapse;
    background-color: rgb(206, 241, 230);
}
th {
    padding: 5px 10px;
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
}
td {
    padding: 5px 10px;
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
}