table 
{
    border: 1px solid #6395ff;
	border-collapse: collapse;
    width: 500px;
}
th {
	border: 1px solid #6395ff;
    padding: 5px 10px;
}
td {
	border: 1px solid #6395ff;
    padding: 5px 10px;
}
table thead
{
background-color: #dae1f8;
}
table tfoot
{
background-color: #5776b1; 
color: #fff;
text-align: right;
}