.button1
{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 60px;
width: 80px;
border: solid 2px rgb(128, 209, 128);
color:rgb(128, 209, 128);
border-radius: 5px;
}

.button1:hover
{
background-color: rgb(128, 209, 128);
color: rgb(255, 255, 255);
}

.button2
{
margin-top: 20px;
margin-left: 50px;
margin-bottom: 20px;
width: 80px;
border: solid 2px rgb(201, 109, 109);
color:rgb(201, 109, 109);
border-radius: 5px;
}

.button2:hover
{
background-color: rgb(201, 109, 109);
color: rgb(255, 255, 255);
}